
#menu {
	margin: 0 auto;
	text-align: left;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#menu li a {
	height: 32px;
	text-decoration: none;
	font: 14px;
}

#menu li{
	padding: 3px;
	vertical-align: middle;
}

#menu li:HOVER{
	background-color: #A5E9A5;
}

#menu li a:link, #menu li a:visited {
	color: #116600;
	display: block;
	padding: 8px 0 0 35px;
}