<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="ua.sombra.webstore.entity.Category"></mapping> 
        <mapping class="ua.sombra.webstore.entity.Feature"></mapping> 
        <mapping class="ua.sombra.webstore.entity.Orders"></mapping> 
        <mapping class="ua.sombra.webstore.entity.Photo"></mapping> 
        <mapping class="ua.sombra.webstore.entity.Product"></mapping> 
        <mapping class="ua.sombra.webstore.entity.ProductExtraFeature"></mapping> 
        <mapping class="ua.sombra.webstore.entity.Role"></mapping> 
        <mapping class="ua.sombra.webstore.entity.User"></mapping> 
    </session-factory>
</hibernate-configuration>